body{
	font-family: Verdana;
}

#screen{
	position: absolute;
	top: 2%;
	height: 60%;
	left: 10%;
	width: 80%;
	border: 1px solid #000;
}

#blockSelect, #idCreater, #screenAlt{
	position: absolute;
	top: 65%;
	left: 11%;
	width: 20%;
	height: 30%;
	border: 1px solid #000;
}
#blockSelect{
	overflow-x: hidden;
	overflow-y: scroll;
}
#idCreater{
	left: 32%;
}
#screenAlt{
	left: auto;
	right: 12%;
	width: 35%;
	height: 25%;
	background-color: #dafaea;
}

.id{
	width: 100%;
	height: 2em;

	cursor: pointer;
	border-bottom: 1px solid #000;

	display: flex;
}

.idSelected{
	background-color: #E1CDFF;
	cursor: default;
}

span{
	width: 80%;
	padding-left: 10%;
	position: relative; 
}
input{
	margin-left: 10%; 
}
textarea{
	width: 98%;
}

.tilecolor{
	margin: 0.5em;
	width: 1em;
	height: 1em;
	background-color: #F0F;
}
.tileinfo{
	width: 70%;
	padding-left: 10%;
	padding-top: 0.5em;
	height: 1.5em;
}

#selectFront, #selectBack, #selectBG{
	position: absolute;
	width: 10%;
	height: 2.5em;
	text-align: center;
	right: 13%;
	bottom: 5%;
	border: 1px solid #000;
	cursor: pointer;
}
#selectFront{
	right: 36%;
}
#selectBack{
	right: 24.5%;
}